
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
  background-color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
}

#contenido{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  animation: header_animation 1s;
}

header{
  background-color: #5b7989;
  text-align: left;
  display: flex;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;

}

header > h1{
  width: 50%;
  color: white;
  text-shadow: 2px 2px #02010a;
  padding-left: 2%;
}

header > nav{
  width: 50%;
  text-align: right;
  padding-top: 30px;
  padding-right: 2%;
}

nav > a{
  font-size: 25px;
  color: white;
}

nav > a:hover{
  text-decoration: none;
}

nav > a::before{
  content: "\00a0";
}

nav > a::after{
  content: "\00a0";
}

#main_image{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color:  #82c3a6;
}

#img_main{
  width: 70%;
}

#general_images{
  width: 100%;
  display: flex;
  text-align: center;
  background-color: #d5c75f;
  padding-top: 5%;
  padding-bottom: 4%;
}

#general_images div{
  width: 50%;
}

#general_images img{
    border: 1px solid;
}

#img_paisajes{
  width: 70%;
}

#img_retratos{
  width: 70%;
}

#img_paisajes:hover{
    transform: rotate(10deg);
    border: 2px solid #82c3a6;
}

#img_retratos:hover{
  transform: translate(20px, -5px);
  border: 2px solid #82c3a6;
}

#photographys{
  width: 100%;
  padding-top: 2%;
  background-color: #d5c75f;
}

#photographys > img{
  width: 30%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#photographys > img:first-child{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#photographys > img:nth-child(even){
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#photographys > img:nth-child(3){
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

.footer{
  display: flex;
  background-color: #C6d5c5;
  -webkit-border-radios:0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  text-align: left;
}


.footer > div{
  width: 25%;
  padding-left: 5%;
}


@media (max-width: 900px){
  header{
    display: block;
    text-align: center;
  }

  header > h1{
    width: 100%;
  }

  header > nav{
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
  }

  #general_images{
    display: block;
  }

  #general_images div{
    width: 100%;
  }

  #photographys > img{
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
  }


  .footer{
    padding-top: 2%;
    padding-bottom: 4%;
    display: block;
  }


  .footer > div{
    width: 100%;
    padding-left: 15%;
  }

}


@-webkit-keyframes header_animation{

  from{
    transform: translateY(80%);
  }

  to{
    transform: translateY(0%);
  }

}
